<h1 class="headtxt">
    {{title}}
</h1>
<main>
    <p>This Website uses Marvel API to search the characters you wish to search. 
        This website will provide the top results based on your serch and list down the characters.You can
        click to any character of your choice to view the information of that particular character. 
        Search below and Enjoy!! </p>
    <form action="/search" method="post" class="search">
         <label for="searchTerm">Search Character:</label><br>
         <input type="text" id="searchTerm" name="searchTerm" class="searchInput"><br>
          <input type="submit" value="Search" class="button1" >
    </form>
</main>